# IDE Settings (Rider / VS Code)
.idea/
.vscode/
*.user
*.suo

# Build & Output Folders
**/bin/
**/obj/

# Test Results & Coverage
TestResults/
*.trx
allure-report
allure-report-input

# NuGet Packages Cache
*.nuget.props
*.nuget.targets